

	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
    <link rel="stylesheet" href="/stylesheets/styles_checkout.css">
</head>

<body>
    <div class = "row">
        <div class="container-fluid breadcrumbBox text-center">
            <ol class="breadcrumb d-flex justify-content-center">
                <li class="active"><a href="#">Review</a></li>
                <li ><a>Delivery Details</a></li>
                <li><a>Payment</a></li>
            </ol>
        </div>
    </div>

    <div class = "container">
        <div class = "row back">
                <a class="back-btn text-center" href='/categories'> Back to all categories </a>
        </div>
    <div>
        
    <div class="container text-center">
        <div class="row cart-row">
            <div class="col-sm-5">
                <div class="bigcart"></div>
                <h1>Your shopping cart</h1>
                <p>
                    Please review your cart, and when your happy, press the Continue button. Don't worry, you can still come back if you change your mind
                </p>
            </div>

            <div class="col-sm-7 text-left">
                <ul>
                    <li class="row product-row list-inline columnCaptions d-flex flex-row">
                        <span>QTY</span>
                        <span>ITEM</span>
                        <span>Price</span>
                    </li>

                    <% for products in @products %>
                    <% quantity = @basket.find{|y| y["product_id"] == products[:id]}.to_h["order_quantity"]%>
                    
                    <li class="row product-row d-flex flex-row">
                        <span class="quantity"><%= quantity %></span>
                        <span class="itemName"> <%=products[:name]%></span>
                        <span class="price">$<%= "%.2f" %  (products[:price] * quantity.to_i) %></span>
                        <span class="popbtn"><a class="arrow"></a></span>
                    </li>
                    
                    <%end%>
                    
                    <li class="row totals">
                        <span class="itemName">Total:</span>
                        <span class="price">$<%="%.2f" %  @sub_total %> </span>
                        <span class="order"> <a id="continue" class="text-center" href='/delivery-details'>Continue</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- The popover content -->

    <div id="popover" style="display: none">
        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    
    <!-- JavaScript includes -->
    <script src="/bootstrap.min.js"></script>
    <script src="/customjs.js"></script>




