
<div class="jumbotron jumbotron-fluid bg-dark">
  
<div class="jumbotron-background">
  <img src="fresh_foods.jpg" class="blur ">
</div>

<div class="container text-white">

  <h1 class="display-4">Get local groceries delivered with Shopalong</h1>
  <p class="lead">Order from local grocers and one of our team members will deliver right to your door the next day</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-primary join-team" href="#" role="button">Join the Shopalong delivery team</a>
  </p>

</div> 

</div>

<div class="row spacer">
      <div class="col-sm-12 order-col" align="center">
          <a href="/categories" class="startbtn btn-2 btn-sep icon-cart">Shop local</a>
           <h5> Buy from local butchers, bakers and more near you </h5>
      </div>
</div>

<div class = "how-it-works">
  <div class = "container mb-4">
      <div class = "row">
          <h1 class="how-it-works"> How it works </h1>
      </div>
      <div class = "row mt-4">
              <div class='col-sm-4'>
                  <div class="mb-4">
                      <img alt="" aria-hidden="true" src="https://d2fwg9hmai4g3h.cloudfront.net/assets/home_2019/delivery_van-f1870a370e190e24909232222dc6a3a797ed713dabe6cabb5cbb357415d2acea.png" />
                  </div>
                  <h4 class = "ml-3 mr-3">
                  Make one combined order from various local stores
                  </h4>
              </div>

              <div class='col-sm-4 mt-2'>
                  <div class="mb-4">
                      <img alt="" aria-hidden="true" src="https://d2fwg9hmai4g3h.cloudfront.net/assets/home_2019/market-651040f14817bf85b424a898d3154fb7cb71de1eea3065e85fefaf3291c4a371.png" />
                  </div>
                  <h4 class = "ml-3 mr-3">
                  Pay for your items and a $15 delivery fee ($10 to the driver, $5 covers our costs)
                  </h4>
              </div>

              <div class='col-sm-4'>
                      <div class="mb-4 mt-4">
                          <img alt="" aria-hidden="true" src="https://d2fwg9hmai4g3h.cloudfront.net/assets/home_2019/pickup_van-75217f34c83c744fb8545a49f3c9d6832120b4cb0b1ef9a2646f91ca0d5b8aea.png" />
                      </div>
                      <h4 class = "ml-3 mr-3">
                      Receive all your items at once with next day delivery for orders made before 5pm
                      </h4>
                  </div>
              </div>
  </div>
</div>



