<head>
<link rel="stylesheet" href="/stylesheets/styles_checkout.css">
</head>      
      <div class="container-fluid breadcrumbBox text-center">
			<ol class="breadcrumb d-flex justify-content-center">
			</ol>
		</div>

          <h4 class="mb-3">Oh no something went wrong, please try paying again</h4>
        </div>

      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Shopalong</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
  
    <script>

    </script>
    
    </body>