<head>
<link rel="stylesheet" href="/stylesheets/styles_checkout.css">
</head>      
      <div class="container-fluid breadcrumbBox text-center">
			<ol class="breadcrumb d-flex justify-content-center">
			</ol>
		</div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
          </h4>
          <ul class="list-group mb-3">
                <% for products in @basket_products %>
                <% quantity = @basket.find{|y| y["product_id"] == products[:id]}.to_h["order_quantity"]%>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="mr-5 my-0"><%=products[:name]%></h6>
              </div>
              <span class="ml-5 text-muted">$<%= "%.2f" %  (products[:price] * quantity) %></span>
            </li>
                <%end%>
          
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small></small>
              </div>
              <span class="text-success">$0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total</span>
              <strong>$<%="%.2f" % @sub_total%></strong>
            </li>
          </ul>

        </div>

        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Payment confirmed - your shopping is on its way!</h4>
          <span class="order">
          <a href='/' class="text-center btn-lg btn-block" id="return" type="return">Return to home </a>
          </span>
        </div>



      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Shopalong</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
  
    <script>

    </script>
    
    </body>