<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/styles_scss.css">

   <!-- JQuery enable -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<meta name="csrf-token" content="{{ csrf_token() }}" />

    <title>Shopalong</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF;">
        <div class="container">
            <a class="navbar-brand" href="/">Shopalong</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                
                 <% current_user = @current_user%>
                 <% if current_user == nil%>
                <li class="nav-item">
                    <a class="nav-link" href="/users/new">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logins/new">Sign In</a>
                </li>
                <% end %>
            </ul>

            <% if @current_user %>
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-text logged-in">
                        Logged in as <%= @current_user[:name] %>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                </ul>
            <% end %>
             <a class="btn btn-outline-success checkout" href="/baskets">
             <image src="../shopping_cart_green.png" class = "cart mr-2">
             Checkout
             </a>
        </div>
    </nav>

    <div>
      <%= yield %>
    </div>

    <footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h4> Shopalong </h4>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3 mt-5">
                    <ul>
                        <li> <h5><a href="#"> ABOUT US </a> <h5></li>
                        <li> <h5><a href="#"> CONTACT </a> <h5></li>
                        <li> <h5><a href="#"> COVID-19 INFO </a> <h5></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.container--> 
    </div>

    <!--/.footer-->
                          
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left copyright"> Copyright ©. All rights reserved. </p>
       
        </div>
    </div>
    <!--/.footer-bottom--> 

</footer>

    <!-- Optional JavaScript -->
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>